      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-4 gap-3">
            <div class="">
              <h1 class="fs-3 mb-1">Novo pedido</h1>
              <p class="mb-0">Gerencie seu estoque</p>
            </div>
            <div>
              <a href="inventory.html" class="btn btn-primary">Ver Todos os pedidos</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body p-4">
<form action="<%= pedido && pedido.id_ped ? '/pedidos/' + pedido.id_ped + '/editar' : '/pedidos/criar' %>" method="post">                <div class="row">
                
                
              <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="productStock" class="form-label">Status</label>
                    <select class="form-select" name="status_ped" value="<%= pedido?.status_ped || '' %>" required>
                      <option value="">Selecione</option>
                      <option value="Pago">Pago</option>
                      <option value="Aberto">Aberto</option>
                   </select>
                </div>
                
                <div class="col-md-6 mb-3">
                      <label for="productName" class="form-label">Forma de Pagamento</label>
                      <select class="form-select" name="forma_pagamento_ped" value="<%= pedido?.forma_pagamento_ped || '' %>" required>
                        <option value="">Selecione</option>
                        <option value="Dinheiro">Dinheiro</option>
                        <option value="Pix">Pix</option>
                        <option value="Cartão de Crédito">Cartão de Crédito</option>
                        <option value="Cartão de Débito">Cartão de Débito</option>
                    </select>                
                </div>  

                <div class="col-md-6 mb-3">
                  <label for="productPrice" class="form-label">Valor</label>
                  <input type="number" class="form-control" id="productPrice" name="valor_ped" value="<%= pedido?.valor_ped || '' %>" placeholder="0.00" step="0.01" required>
                </div>

                  <div class="col-md-6 mb-3">
                      <label for="productName" class="form-label">Data</label>
                      <input type="date" class="form-control" id="productName" name="data_ped" value="<%= pedido?.data_ped || '' %>" placeholder="Digite o nome da categoria" required>
                  </div>
  

                  <div class="col-md-6 mb-3">
                      <label for="productName" class="form-label">Canal</label>
                      <select class="form-select" name="canal_ped" value="<%= pedido?.canal_ped || '' %>" required>
                        <option value="">Selecione</option>
                        <option value="Loja Física">Loja Física</option>
                        <option value="Loja Virtual">Loja Virtual</option>
                    </select>                
                  </div>        


                <div class="col-md-6 mb-3">
                    <label for="productStock" class="form-label">Cliente</label>
                    <select class="form-select" name="cliente_ped" value="<%= pedido?.cliente_ped || '' %>" required>
                      <option value="">Selecione</option>
                      <% cliente.forEach(cliente => { %>
                          <option value="<%= cliente.id_cli %>">
                              <%= cliente.nome_cli %>
                          </option>
                      <% }) %>
                   </select>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="productStock" class="form-label">Funcionario</label>
                    <select class="form-select" name="funcionario_ped" value="<%= pedido?.funcionario_ped || '' %>" required>
                    <option value="">Selecione</option>

                    <% funcionario.forEach(funcionario => { %>
                        <option value="<%= funcionario.id_fun %>">
                            <%= funcionario.nome_fun %>
                        </option>
                    <% }) %>

                    </select>
                </div>
              </div>

     

               
                <div class="d-flex gap-2">
                  <button type="submit" class="btn btn-primary">Adicionar pedido</button>
                  <button type="reset" class="btn btn-secondary">Limpar</button>
                </div>
            
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</main>

