  <aside id="sidebar" class="sidebar">
    <div class="logo-area">
     <a href="/" class="d-inline-flex"><img src="/public/images/logo-icon.svg" alt="" width="24">
        <span class="logo-text ms-2"> <img src="/public/images/logo.svg" alt=""></span>
      </a>
    </div>

    <ul class="nav flex-column">
      <li class="px-4 py-2"><small class="nav-text">Principal</small></li>
      <li><a class="nav-link <%= rotaAtual === '/' ? 'active' : '' %>" href="/"><i class="ti ti-home"></i><span
            class="nav-text">Home</span></a></li>
      <li><a class="nav-link <%= rotaAtual === '/produtos' ? 'active' : '' %>" href="/produtos"><i class="ti ti-box-seam"></i><span class="nav-text">Produtos</span></a></li>
      <li class="px-4 py-2"><small class="nav-text">Cadastros</small></li>

      <li><a class="nav-link <%= rotaAtual === '/produtos/criar' ? 'active' : '' %>" href="/produtos/criar"><i class="ti ti-plus"></i><span class="nav-text">Produto</span></a></li>
      <li><a class="nav-link <%= rotaAtual === '/marcas/criar' ? 'active' : '' %>" href="/marcas/criar"><i class="ti ti-plus"></i><span class="nav-text">Marcas</span></a></li>
      <li><a class="nav-link <%= rotaAtual === '/categorias/criar' ? 'active' : '' %>" href="/categorias/criar"><i class="ti ti-plus"></i><span class="nav-text">Categorias</span></a></li>
      <li><a class="nav-link <%= rotaAtual === '/fornecedor/criar' ? 'active' : '' %>" href="/fornecedor/criar"><i class="ti ti-plus"></i><span class="nav-text">Fornecedor</span></a></li>
      <li><a class="nav-link" href="//"><i class="ti ti-alert-circle"></i><span class="nav-text">Categorias</span></a></li>
      <li><a class="nav-link" href="//"><i class="ti ti-file-text"></i><span class="nav-text">Cliente</span></a></li>
      <li><a class="nav-link" href="//"><i class="ti ti-file-text"></i><span class="nav-text">Fornecedores</span></a></li>

      <li class="px-4 py-2"><small class="nav-text">Pedidos</small></li>
      <li><a class="nav-link" href="//"><i class="ti ti-file-text"></i><span class="nav-text">Novo Pedido</span></a></li>
      <li><a class="nav-link" href="//"><i class="ti ti-file-text"></i><span class="nav-text">Listar Pedidos</span></a></li>

      <li class="px-4 py-2"><small class="nav-text">RH</small></li>
      <li><a class="nav-link" href="//"><i class="ti ti-file-text"></i><span class="nav-text">Funcionario</span></a></li>
      <li><a class="nav-link" href="//"><i class="ti ti-file-text"></i><span class="nav-text">Cargos</span></a></li>
      <li><a class="nav-link" href="//"><i class="ti ti-receipt"></i><span class="nav-text">Relatórios</span></a></li>


    </ul>

  </aside>