<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h1 class="fs-3 mb-1">Clientes</h1>
                <p class="mb-0">Gerencie seus clientes</p>
            </div>
            <div>
                <a href="/clientes/criar" class="btn btn-primary">
                    Adicionar Cliente
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">

        <form action="/clientes" method="GET"
            class="d-flex gap-2 mb-3 flex-wrap justify-content-between">

            <input
                type="text"
                name="termo"
                class="form-control"
                placeholder="Buscar cliente..."
                style="max-width: 970px;"
                value="<%= typeof termo !== 'undefined' ? termo : '' %>">

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">
                    Buscar
                </button>

                <a href="/clientes" class="btn btn-outline-secondary">
                    Limpar
                </a>
            </div>

        </form>

        <div class="card table-responsive">

            <table class="table mb-0 text-nowrap table-hover">

                <thead class="table-light border-light">
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Data Nascimento</th>
                        <th>Endereço</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>

                    <% clientes.forEach(cliente => { %>

                        <tr class="align-middle">

                            <td>
                                <%= cliente.nome_cli %>
                            </td>

                            <td>
                                <%= cliente.telefone_cli %>
                            </td>

                            <td>
                                <%= cliente.email_cli %>
                            </td>

                            <td>
                                <%= new Date(cliente.data_nascimento_cli).toLocaleDateString('pt-BR') %>
                            </td>

                            <td>
                                <%= cliente.endereco?.rua_end || 'Não informado' %>,
                                Nº <%= cliente.endereco?.numero_end || '-' %>
                            </td>

                            <td>

                                <a href="/clientes/<%= cliente.id_cli %>/editar"
                                    class="text-secondary me-2"
                                    title="Editar Cliente">

                                    <i class="bi bi-pencil-square fs-5"></i>

                                </a>

                                <a href="/clientes/<%= cliente.id_cli %>/excluir"
                                    class="text-danger"
                                    title="Excluir Cliente">

                                    <i class="bi bi-trash fs-5"></i>

                                </a>

                            </td>

                        </tr>

                    <% }) %>

                </tbody>

            </table>

        </div>

    </div>
</div>

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">