
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="">
              <h1 class="fs-3 mb-1">Inventário</h1>
              <p class="mb-0">Controle seus produtos do inventário</p>
            </div>
            <div>
              <a href="create-product.html" class="btn btn-primary">Add Product</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div>
            <div class="d-flex gap-2 mb-3 flex-wrap justify-content-between">
              <input type="text" class="form-control" placeholder="Search products..." style="max-width: 250px;">
              <div class="d-flex gap-2">

                <button class="btn btn-outline-secondary">
                  <i class="ti ti-filter"></i> Filter
                </button>
                <button class="btn btn-outline-secondary">
                  <i class="ti ti-file-excel"></i> Excel
                </button>
                <button class="btn btn-outline-secondary">
                  <i class="ti ti-file-pdf"></i> PDF
                </button>
              </div>
            </div>
          </div>
          <div class="card table-responsive ">
            <table class="table mb-0 text-nowrap table-hover">
              <thead class="table-light border-light">
                <tr>
                  <th>Imagem</th>

                  <th>Código</th>
                  <th>Categoria</th>
                  <th>Marca</th>
                  <th>Preço</th>
                  <th>Status</th>
                  <th>Quantidade</th>
                  <th>Ações</th>
                </tr>
              </thead>

                <tbody>
                  <% produtos.forEach(produto => { %>
                    <tr class="align-middle">

                     <td>
                        <img
                            src="/public/images/<%= produto.imagem_pro %>"
                            alt="<%= produto.nome_pro %>"
                            class="avatar avatar-md rounded"
                        />

                        <span class="ms-3">
                            <%= produto.nome_pro %>
                        </span>
                    </td>


                      <td>
                        <%= produto.id_pro %>
                      </td>

                      <td>
                        <%= produto.categoria?.nome_cat %>
                      </td>

                      <td>
                        <%= produto.marca?.nome_mar %>
                      </td>

                      <td>
                        R$ <%= produto.preco_pro %>
                      </td>

                      <td>
                        <%= produto.status_pro %>
                      </td>

                      <td>
                        <%= produto.quantidade_pro %>
                      </td>

                      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
                     

                      <td>
                        <a href="/produtos/<%= produto.id_pro %>/editar">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <a href="/produtos/<%= produto.id_pro %>/excluir" class="text-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                       </td>
                    </tr>
                  <% }) %>
                </tbody>

                <tr>
                  <td class="border-bottom-0">Mostrando produtos por página</td>
                  <td colspan="9" class="border-bottom-0">
                    <nav aria-label="Page navigation" class="d-flex justify-content-end">
                      <ul class="pagination mb-0">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1">Prévia</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#">Próxima</a>
                        </li>
                      </ul>
                    </nav>
                  </td>
                </tr>

              </tfoot>
            </table>
          </div>
        </div>

      </div>

